.font-weight-bold {
    font-weight: 600;
}

@media print {
    html, body {
        width: 210mm;
        height: 297mm;
        zoom: 93%;
        margin-left: 50px;
    }
    .fontPrint {
        font-size: 12px!important;
    }
}